* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
body {
  background-color: rgb(82, 179, 126);
  text-align: center;
}
div {
  text-align: start;
}
#myCheck {
  padding: 0;
  width: unset;
}
#reset-container {
  text-align: center;
}
button {
  background-color: rgb(82, 86, 179);
  border-radius: 6px;
  border: none;
  margin: 5px 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 242px;
  cursor: pointer;
}
input {
  border-radius: 6px;
  border: 1px solid grey;
  padding: 10px;
  text-transform: uppercase;
  width: 220px;
  cursor: pointer;
}
#results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#myrolls {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
}

/* An attempt to make each "dice roll" element 
   look more like an actual six-sided (cube) die */
li {
  text-align: center;
  background-color: white;
  height: 25px;
  width: 25px;
  padding: 5px;
  margin: 5px auto;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
}

#dice-total {
  text-align: center;
  background-color: white;
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 40px;
}
